@import url(../../global.less);
.swiperContent {
  height: 1.45rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}
.content {
  margin-top: 0.2rem;
  overflow: hidden;
  padding: 0 20px;
}
.menu {
  width: 100px;
}
.icon {
  width: 0.5rem;
  height: 0.5rem;
}
.title {
  font-size: 0.2rem;
}
