.custom-upload-list {
  margin-top: 20px;
  .custom-upload-file {
    width: 200px;
    display: flex;
    justify-content: space-between;
    .custom-upload-file-name {
    }
    .custom-upload-file-action {
    }
  }
}
