<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>assets/favicon.jpeg" />
  <script src="<%= context.config.publicPath %>appConfig.js"></script>
  <script>
    let publicPath = '<%= context.config.publicPath %>'
    console.log('publicPath', publicPath);
  </script>
</head>

<body>
  <div id="root"></div>

</body>

</html>